<div class="sidebar">
    <h2>About Me</h2>
    <p>Hi, I'm Justin Harder! I'm passionate about machine learning, particularly in computer vision and large language models. In my spare time, I enjoy solving Rubik's cubes and exploring odd hobbies, sometimes involving Poison Ivy.</p>
    
    <h2>Recent Posts</h2>
    <ul>
        <li><a href="{{ site.baseurl }}/posts/large-language-models/">Large Language Models</a></li>
        <li><a href="{{ site.baseurl }}/posts/intro-to-computer-vision/">Intro to Computer Vision</a></li>
        <li><a href="{{ site.baseurl }}/posts/welcome-to-my-blog/">Welcome to My Blog</a></li>
    </ul>
    
    <h2>Categories</h2>
    <ul>
        <li><a href="{{ site.baseurl }}/categories/machine-learning/">Machine Learning</a></li>
        <li><a href="{{ site.baseurl }}/categories/computer-vision/">Computer Vision</a></li>
        <li><a href="{{ site.baseurl }}/categories/language-models/">Language Models</a></li>
    </ul>
    
    <h2>Connect</h2>
    <ul>
        <li><a href="https://github.com/your-github-profile" target="_blank">GitHub</a></li>
        <li><a href="https://twitter.com/your-twitter-handle" target="_blank">Twitter</a></li>
        <li><a href="https://linkedin.com/in/your-linkedin-profile" target="_blank">LinkedIn</a></li>
    </ul>
</div>